.screen4-container {
    background-color: #f3e5f5;
    padding: 20px;
    text-align: center;
  }
  
  .info {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .next-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8e24aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  