*{
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Poppins';
font-style: normal;
letter-spacing: 0.03em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Story line for saving Library of Wisdom" Your journey to becoming a ProDigi starts here! */



